* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.wrapper {
  min-height: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.header {
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
.left-logo {
  float: left;
}
.left-logo .fas {
  color: #fff;
}
.left-logo .fas:hover {
  transform: rotate(180deg);
}
.left-logo .logo-p {
  margin-left: 15px;
  color: #fff;
  display: inline;
  font-family: 'montserratbold';
  font-size: 16px;
}
.nav-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.nav-menu li {
  margin-top: 15px;
}
.nav-menu li a {
  text-transform: uppercase;
  font-family: 'montserratbold';
  font-size: 14px;
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 3px;
  color: #fff;
}
.nav-menu li a:hover {
  border-bottom: 3px solid #fff;
}
.nav-menu .like-button {
  border: 2px solid #fff;
  border-radius: 20px 20px;
  padding: 5px 20px;
}
.first-block {
  padding: 250px 0 250px;
  background-image: url(../images/blockOne.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.first-block .welcome-info {
  max-width: 400px;
}
.first-block .welcome-info h2 {
  font-size: 32px;
  font-family: 'montserratlight';
  color: #fff;
}
.first-block .welcome-info h1 {
  font-size: 45px;
  font-family: 'montserratbold';
  color: #fff;
}
.first-block .welcome-info p {
  font-size: 18px;
  font-family: 'montserratregular';
  color: #fff;
}
.first-block .welcome-info .fab {
  margin-right: 20px;
  margin-top: 5px;
  color: #fff;
}
.first-block .welcome-info .fab:hover {
  transform: translateY(-5px);
}
.first-block .welcome-info .button {
  font-family: 'montserratregular';
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 40px;
  border: none;
  border-radius: 30px 30px;
  margin: 20px 10px 0 0;
  outline: none;
}
.first-block .welcome-info .button:hover {
  background: #A44A3C;
  color: #fff;
}
.line-block {
  padding: 100px 0;
  background: #032429;
}
.line-block p {
  color: #fff;
  text-align: center;
  font-family: 'montserratlight';
  font-size: 20px;
}
.line-block .animated {
  animation-delay: 3s;
  animation-duration: 3s;
}
.aboutMe {
  padding: 50px 0;
  opacity: 0.8;
}
.gallery {
  padding: 350px 0;
  background: #cccc;
}
.contacts {
  padding: 250px 0;
  background: url(../images/kurt-cotoaga-cqbLg3lZEpk-unsplash.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.footer {
  background: #032429;
  padding: 50px 0;
  text-align: center;
}
.footer .fab {
  margin-right: 20px;
  margin-top: 5px;
  color: #fff;
}
.footer .fab:hover {
  transform: scale(2);
}
