* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.left-logo .logo {
  float: left;
}
.left-logo .logo-p {
  margin: 15px;
  float: left;
  font-family: 'montserratbold';
  font-size: 16px;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu li {
  margin-top: 15px;
}
.nav-menu li a {
  text-transform: uppercase;
  font-family: 'montserratbold';
  font-size: 14px;
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 3px;
  color: #2b2a2c;
}
.nav-menu li a:hover {
  border-bottom: 3px solid #2b2a2c;
}
.nav-menu .like-button {
  border: 2px solid #2b2a2c;
  border-radius: 20px 20px;
  padding: 5px 20px;
}
.first-block {
  border-bottom: 1px solid red;
}
.first-block .welcome-info {
  margin: 100px 0 120px;
  max-width: 400px;
}
.first-block .welcome-info h2 {
  font-size: 32px;
  font-family: 'montserratlight';
}
.first-block .welcome-info h1 {
  font-size: 45px;
  font-family: 'montserratbold';
}
.first-block .welcome-info p {
  font-size: 18px;
  font-family: 'montserratregular';
}
.first-block .welcome-info .fa {
  margin-right: 10px;
  margin-top: 5px;
}
.first-block .welcome-info .button {
  font-family: 'montserratregular';
  font-size: 16px;
}
