// font-family: 'montserratbold';
// font-family: 'montserratlight';
// font-family: 'montserratregular';

*{
    margin: 0;
    padding: 0;
}

body{
 width: 100%;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}